
body {
    margin: 0;
    min-height: 100vh;
    background: #02040a;
    color: white;
    overflow-x: hidden;
}

/* Animated blue wave */
body::before {
    content: "";
    position: fixed;
    width: 120%;
    height: 450px;
    top: -180px;
    left: -10%;
    z-index: -1;

    background: linear-gradient(
        90deg,
        #001f66,
        #0066ff,
        #00aaff,
        #003cff
    );

    border-radius: 50%;
    filter: blur(2px);
    opacity: 0.8;

    transform: rotate(-8deg);
    animation: waveMove 8s ease-in-out infinite alternate;
}

body::after {
    content: "";
    position: fixed;
    width: 120%;
    height: 400px;
    bottom: -220px;
    right: -10%;
    z-index: -1;

    background: linear-gradient(
        90deg,
        #001b5e,
        #004cff,
        #008cff
    );

    border-radius: 50%;
    transform: rotate(-8deg);
    opacity: 0.75;

    animation: waveMove 10s ease-in-out infinite alternate-reverse;
}

@keyframes waveMove {
    from {
        transform: translateX(-3%) rotate(-8deg);
    }

    to {
        transform: translateX(3%) rotate(-5deg);
    }
}
